:root {
  --bears-navy: #0b162a;
  --bears-orange: #e24d16;
  --bears-white: #ffffff;
  --bears-hover: #1d2a48;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1f2d49;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.App-link {
  color: #61dafb;
}

.huge {
  font-size: 18rem;
}

.timer {
  background-color: rgb(255, 132, 0);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem;
}

.footer,
.footer:visited,
.footer:active {
  color: white;
  font-size: 0.8rem;
  padding-top: 12rem;
}

.fixed-time {
  font-family: monospace;
  color: #214284;
  font-weight: 700;
}

.share {
  background-color: var(--bears-orange);
  color: var(--bears-white);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 3rem 0;
  font-size: 3rem;
}
